:root {
  --smui-space-xxs: 1px;
  --smui-space-xs: 2px;
  --smui-space-sm: 4px;
  --smui-space-md: 8px;
  --smui-space-lg: 12px;
  --smui-space-xl: 20px;
  --smui-space-xxl: 28px;

  --smui-font-size-xs: 10px;
  --smui-font-size-sm: 12px;
  --smui-font-size-md: 14px;
  --smui-font-size-lg: 18px;
  --smui-font-size-xl: 24px;

  --smui-line-height-xs: 12px;
  --smui-line-height-sm: 16px;
  --smui-line-height-md: 20px;
  --smui-line-height-lg: 24px;
  --smui-line-height-xl: 32px;

  --smui-container-width-xs: 288px;
  --smui-container-width-sm: 576px;
  --smui-container-width-md: 864px;
  --smui-container-width-lg: 1152px;
  --smui-container-width-xl: 1440px;

  --smui-radius-xs: 2px;
  --smui-radius-sm: 2px;
  --smui-radius-md: 1px;
  --smui-radius-lg: 2px;
  --smui-radius-xl: 2px;
}

@theme inline {
  --spacing-space-xxs: var(--smui-space-xxs);
  --spacing-space-xs: var(--smui-space-xs);
  --spacing-space-sm: var(--smui-space-sm);
  --spacing-space-md: var(--smui-space-md);
  --spacing-space-lg: var(--smui-space-lg);
  --spacing-space-xl: var(--smui-space-xl);
  --spacing-space-xxl: var(--smui-space-xxl);

  --spacing-line-xs: var(--smui-line-height-xs);
  --spacing-line-sm: var(--smui-line-height-sm);
  --spacing-line-md: var(--smui-line-height-md);
  --spacing-line-lg: var(--smui-line-height-lg);
  --spacing-line-xl: var(--smui-line-height-xl);

  --spacing-box-xs: calc(var(--smui-line-height-xs) + (var(--smui-space-xs) * 2));
  --spacing-box-sm: calc(var(--smui-line-height-sm) + (var(--smui-space-sm) * 2));
  --spacing-box-md: calc(var(--smui-line-height-md) + (var(--smui-space-md) * 2));
  --spacing-box-lg: calc(var(--smui-line-height-lg) + (var(--smui-space-lg) * 2));
  --spacing-box-xl: calc(var(--smui-line-height-xl) + (var(--smui-space-xl) * 2));

  --text-*: initial;
  --text-xs: var(--smui-font-size-xs);
  --text-sm: var(--smui-font-size-sm);
  --text-md: var(--smui-font-size-md);
  --text-lg: var(--smui-font-size-lg);
  --text-xl: var(--smui-font-size-xl);
  --text-xs--line-height: var(--smui-line-height-xs);
  --text-sm--line-height: var(--smui-line-height-sm);
  --text-md--line-height: var(--smui-line-height-md);
  --text-lg--line-height: var(--smui-line-height-lg);
  --text-xl--line-height: var(--smui-line-height-xl);

  --radius-*: initial;
  --radius-xs: var(--smui-radius-xs);
  --radius-sm: var(--smui-radius-sm);
  --radius-md: var(--smui-radius-md);
  --radius-lg: var(--smui-radius-lg);
  --radius-xl: var(--smui-radius-xl);

  --breakpoint-*: initial;
  --breakpoint-xs: var(--smui-container-width-xs);
  --breakpoint-sm: var(--smui-container-width-sm);
  --breakpoint-md: var(--smui-container-width-md);
  --breakpoint-lg: var(--smui-container-width-lg);
  --breakpoint-xl: var(--smui-container-width-xl);

  --container-*: initial;
  --container-xs: var(--smui-container-width-xs);
  --container-sm: var(--smui-container-width-sm);
  --container-md: var(--smui-container-width-md);
  --container-lg: var(--smui-container-width-lg);
  --container-xl: var(--smui-container-width-xl);
}